@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210.0000 40.0000% 98.0392%;
    --foreground: 204.5455 23.9130% 18.0392%;
    --card: 0 0% 100%;
    --card-foreground: 189.0000 21.2766% 18.4314%;
    --popover: 0 0% 100%;
    --popover-foreground: 183.0000 21.2766% 18.4314%;
    --primary: 126.6667 13.5678% 39.0196%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13.0435% 90.9804%;
    --secondary-foreground: 163.6364 16.1765% 26.6667%;
    --muted: 220.0000 14.2857% 95.8824%;
    --muted-foreground: 140 10.1124% 17.4510%;
    --accent: 120 43.7500% 87.4510%;
    --accent-foreground: 183.1579 13.6691% 27.2549%;
    --destructive: 10.3553 87.5556% 44.1176%;
    --destructive-foreground: 0 0% 100%;
    --border: 216.0000 12.1951% 83.9216%;
    --input: 116.0000 24.5902% 88.0392%;
    --ring: 127.2414 27.3585% 58.4314%;
    --chart-1: 158.8235 34% 80.3922%;
    --chart-2: 150 25% 62.3529%;
    --chart-3: 150 14.9606% 49.8039%;
    --chart-4: 150.6977 24.2938% 34.7059%;
    --chart-5: 123.6364 21.8543% 29.6078%;
    --sidebar: 220.0000 14.2857% 95.8824%;
    --sidebar-foreground: 180 21.2766% 18.4314%;
    --sidebar-primary: 126.6667 13.5678% 39.0196%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 122.1429 35.8974% 84.7059%;
    --sidebar-accent-foreground: 173.6842 13.6691% 27.2549%;
    --sidebar-border: 182.1429 27.4510% 80%;
    --sidebar-ring: 125.1429 36.8421% 81.3725%;
    --font-sans: Tomorrow, ui-sans-serif, sans-serif, system-ui;
    --font-serif: BioRhyme, ui-serif, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.15rem;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 14px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.1;
    --shadow-color: #142213;
    --shadow-2xs: 0px 0px 14px -2px hsl(116 28.3019% 10.3922% / 0.05);
    --shadow-xs: 0px 0px 14px -2px hsl(116 28.3019% 10.3922% / 0.05);
    --shadow-sm: 0px 0px 14px -2px hsl(116 28.3019% 10.3922% / 0.10), 0px 1px 2px -3px hsl(116 28.3019% 10.3922% / 0.10);
    --shadow: 0px 0px 14px -2px hsl(116 28.3019% 10.3922% / 0.10), 0px 1px 2px -3px hsl(116 28.3019% 10.3922% / 0.10);
    --shadow-md: 0px 0px 14px -2px hsl(116 28.3019% 10.3922% / 0.10), 0px 2px 4px -3px hsl(116 28.3019% 10.3922% / 0.10);
    --shadow-lg: 0px 0px 14px -2px hsl(116 28.3019% 10.3922% / 0.10), 0px 4px 6px -3px hsl(116 28.3019% 10.3922% / 0.10);
    --shadow-xl: 0px 0px 14px -2px hsl(116 28.3019% 10.3922% / 0.10), 0px 8px 10px -3px hsl(116 28.3019% 10.3922% / 0.10);
    --shadow-2xl: 0px 0px 14px -2px hsl(116 28.3019% 10.3922% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.2rem;
  }

  .dark {
    --background: 231.4286 13.7255% 10%;
    --foreground: 169.7561 65.0794% 87.6471%;
    --card: 198.7500 20% 15.6863%;
    --card-foreground: 169.7561 65.0794% 87.6471%;
    --popover: 205.7143 13.7255% 10%;
    --popover-foreground: 172.7500 100% 47.0588%;
    --primary: 172.7500 100% 47.0588%;
    --primary-foreground: 165.5172 56.8627% 10%;
    --secondary: 185.7143 17.9487% 22.9412%;
    --secondary-foreground: 216.0000 12.1951% 83.9216%;
    --muted: 197.6471 21.5190% 15.4902%;
    --muted-foreground: 217.8947 10.6145% 64.9020%;
    --accent: 216.9231 19.1176% 26.6667%;
    --accent-foreground: 216.0000 12.1951% 83.9216%;
    --destructive: 33.2189 100% 45.6863%;
    --destructive-foreground: 168 14.7059% 13.3333%;
    --border: 180 16.3842% 34.7059%;
    --input: 180 21.9858% 27.6471%;
    --ring: 172.7500 100% 47.0588%;
    --chart-1: 176.7500 100% 47.0588%;
    --chart-2: 170.2564 55.9809% 59.0196%;
    --chart-3: 172.0588 29.5652% 45.0980%;
    --chart-4: 190.5000 23.2558% 33.7255%;
    --chart-5: 180 34.8837% 16.8627%;
    --sidebar: 198.7500 20.5128% 15.2941%;
    --sidebar-foreground: 158.7097 49.2063% 87.6471%;
    --sidebar-primary: 171.2903 63.2653% 80.7843%;
    --sidebar-primary-foreground: 174.0000 14.2857% 13.7255%;
    --sidebar-accent: 184.2857 12.7273% 21.5686%;
    --sidebar-accent-foreground: 181.8750 30.1887% 79.2157%;
    --sidebar-border: 185.7143 12.1387% 33.9216%;
    --sidebar-ring: 174.9296 70.2970% 80.1961%;
    --font-sans: Tomorrow, ui-sans-serif, sans-serif, system-ui;
    --font-serif: BioRhyme, ui-serif, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.15rem;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 14px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.1;
    --shadow-color: #b8fff9;
    --shadow-2xs: 0px 0px 14px -2px hsl(174.9296 100.0000% 86.0784% / 0.05);
    --shadow-xs: 0px 0px 14px -2px hsl(174.9296 100.0000% 86.0784% / 0.05);
    --shadow-sm: 0px 0px 14px -2px hsl(174.9296 100.0000% 86.0784% / 0.10), 0px 1px 2px -3px hsl(174.9296 100.0000% 86.0784% / 0.10);
    --shadow: 0px 0px 14px -2px hsl(174.9296 100.0000% 86.0784% / 0.10), 0px 1px 2px -3px hsl(174.9296 100.0000% 86.0784% / 0.10);
    --shadow-md: 0px 0px 14px -2px hsl(174.9296 100.0000% 86.0784% / 0.10), 0px 2px 4px -3px hsl(174.9296 100.0000% 86.0784% / 0.10);
    --shadow-lg: 0px 0px 14px -2px hsl(174.9296 100.0000% 86.0784% / 0.10), 0px 4px 6px -3px hsl(174.9296 100.0000% 86.0784% / 0.10);
    --shadow-xl: 0px 0px 14px -2px hsl(174.9296 100.0000% 86.0784% / 0.10), 0px 8px 10px -3px hsl(174.9296 100.0000% 86.0784% / 0.10);
    --shadow-2xl: 0px 0px 14px -2px hsl(174.9296 100.0000% 86.0784% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}